.container {
  user-select: none;
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  color: white;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  gap: 5px;
  fill: white;

  span {
    width: 100%;
  }
}

.pro {
  background-color: green;
}

.con {
  background-color: red;
}

.delimiter {
  border: 1px solid white;
  margin: 0 5px;
  height: 15px;
}